@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">ABC retail Management System</h1>
    <p>A new advanced retail management system for ABC retials products and services.</a>.</p>
</div>

<ul>
    <li><a href="/Customers">Customers</a></li>
    <li><a href="/Products">Products</a></li>
    <li><a href="/Contracts">Contracts</a></li>
    <li><a href="/Orders">Orders</a></li>
</ul>